block initialize

doctype html
html(lang='en')
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    include ./favicons.pug
    title #{'ES - ' + title}
    link(rel='stylesheet', href=asset('styles/app.min.css'))
  body
    header
      div.app-logo-wrapper
        a(href='/', class='app-logo-link')
          img(class='app-logo', src=asset('images/express-security-logo.png'), alt='App logo', width='90', height='90')
          span.app-logo-text App Logo
      if user
        div.user-info
          span.user-name User:
            a(href='/user/') #{user.username}
          span.last-signed-in Last signed in: #{moment(user.lastSignedIn).fromNow()}
        div.sign-out
          a(href='/logout/') Sign out
        div.email-status.not-loaded
          span Email:
          span.unread 0
          span.delimiter /
          span.total 0
    main
      block content
    if user
      script(src=asset('scripts/vendor.min.js'))
      script(src=asset('scripts/app.min.js'))
    block scripts
