block initialize

doctype html
html(lang='en')
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    include ./favicons.pug
    title #{'ES - ' + title}
    link(rel='stylesheet', href=asset('styles/app.min.css'))
    link(rel='preload', href=asset('images/express-security-logo.png'), as='image')
    link(rel='preload', href=asset('scripts/vendor.min.js'), as='script')
    link(rel='preload', href=asset('scripts/app.min.js'), as='script')
  body
    header.c-header
      div.c-header__container
        div.c-app-logo.c-header__logo
          a(href='/', class='c-app-logo__link c-header__link')
            img(class='c-app-logo__img', src=asset('images/express-security-logo.png'), alt='App logo', width='90', height='90')
            span.c-app-logo__text App Logo
        if user
          div.c-header__status
            div.c-user-info.c-header__status-row
              span.c-user-info__user-name User:
                a(href='/user/', class='c-header__link c-user-info__user-name-link') #{user.username}
              span Last signed in: #{moment(user.lastSignedIn).fromNow()}
            div.c-header__status-row
              a(href='/logout/', class='c-header__link') Sign out
            div.c-email-status--not-loaded.js-email-status.c-header__status-row
              span Email:
              span(class='c-email-status__unread js-email-status__unread') 0
              span(class='c-email-status__delimiter') /
              span(class='c-email-status__total js-email-status__total') 0
    main
      block content
    if user
      script(src=asset('scripts/vendor.min.js'))
      script(src=asset('scripts/app.min.js'))
    block scripts
